<!DOCTYPE html>
<html>
<head>
<title>Airline Booking Website</title>
</head>
<body>
<h1>Airline Booking HomePage</h1>
<p>Welcome to the Airline Booking Homepage</p>
<p> View your payment information by typing your passenger id next to the URL.
    <br> Example: 127.0.0.1.8000/678ae45, will allow that person to see their payment info
</p>
<p> To group flights by airline, type airline name at end of URl</p>
<p> To group flights by destination, type depDestinationName to group by departures
    <br> arrArrivalName to group by arrivals
</p>
</body>
</html>